/* Customize the title of the collapsible section */
details summary {
    font-size: 1.2em;          /* Adjusts font size */
    color: #ffffff;            /* Sets title color */
    cursor: pointer;           /* Adds a pointer cursor */
    /* margin-left: 10px;         /* Adjusts position, left margin */
    font-weight: bold;         /* Makes the title bold */
}

/* Optionally, add hover effect for better interactivity */
details summary:hover {
    color: #a51c30;            /* Darker color on hover */
}

details summary,
details summary a {
    font-size: 1.2em;         /* Adjusts font size */
    color: #ffffff !important; /* Sets title color with !important */
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;    /* Removes underline, if present */
}

/* Optional hover effect */
details summary:hover,
details summary:hover a {
    color: #a51c30 !important; /* Darker color on hover */
}